input[type="text"],
input[type="email"],
textarea {
    display: block;
    @extend %border-radius;
    padding: 10px;
    width: 100%;
    border: 1px solid #cacaca;
    margin-bottom: 20px;
    font-size: 14px;
}

input[type="button"] {
    padding: 10px 15px;
    background-color: #555;
    border: 1px solid #555;
    color: white;
    @extend %border-radius;
    font-size: 14px;
}